.THIS #sfdc_username_container{
    margin-bottom:10px;
    padding: 12px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.THIS #sfdc_user{
    float:left;
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;

}
.THIS .back{
    padding-top: 20px;
    text-decoration: underline;
    color: #414042;
    font-weight: 100;
    font-size: 18px;
}

.THIS .entireContainer {
    font-family: 'Oswald';
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.THIS .label {
    top:0;
}

.THIS span.label {
    top: 0; 
}

.THIS  .login-icon {
    color:#ccc;font-size:22px;
}

.THIS  button.sfdc_button {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #fff;
    background-color: #0070d2;
    border-color: #357ebd;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.THIS  button:hover {
    background-color:#3276b1;
    border-color:#285e8e;
    cursor:pointer;
}

.THIS input {
    /* margin-left:10px; */
    margin-top: 3px;
    border: 0px solid transparent;
    width: 70%;
    -webkit-appearance: none;
    font-size: 14px;
}

.THIS  #error {
    text-align: center;
    color:#FF0000;
}

.THIS  a {
    color:white;
    text-decoration: none;
}

@media (min-width: 0px) {
    .THIS .entireContainer {
        padding: 10px;
    }
    .THIS .inputContainer {
        width: 80%;
        margin-top: 10px;
    }
    .THIS .buttonContainer {
        width: 50%;
    }
    .THIS .headerFont {
        font-size: 16px;
        padding: 20px 0;
    }
    .THIS .subHeaderFont{
        font-size: 12px;
        padding-bottom: 10px;
        text-align: center;
    }
    .THIS .labels {
        font-size: 12px;
    }
    .THIS .sfdc_buttonOverride {
        padding: 6px 12px !important;
        font-size: 6px !important; 
    }
    .THIS .back {
        font-size: 10px;
    }
    .THIS .sfdc_input {
        padding-top: 6px !important;
        padding-bottom: 6px !important;
        font-size: 12px;
    }
}
@media (min-width: 220px) {
    .THIS .entireContainer {
        padding: 20px;
    }
    .THIS .headerFont {
        font-size: 20px;
        padding: 20px 0;
    }
    .THIS .subHeaderFont{
        font-size: 12px;
        padding-bottom: 10px;
        text-align: center;
    }
    .THIS .labels {
        font-size: 12px;
    }
    .THIS .sfdc_buttonOverride {
        padding: 8px 12px !important;
        font-size: 9px !important;
    }
    .THIS .back {
        font-size: 10px;
    }
    .THIS .sfdc_input {
        font-size: 12px;
    }

} 
@media (min-width: 300px) {
    .THIS .entireContainer {
        padding: 30px;
    }
    .THIS .headerFont {
        font-size: 26px;
    }
    .THIS .subHeaderFont{
        font-size: 14px;
    }
    .THIS .labels {
        font-size: 14px;
    }
    .THIS .sfdc_buttonOverride {
        padding: 8px 12px !important;
        font-size: 12px !important; 
    }
    .THIS .back {
        font-size: 12px;
    }
    .THIS .sfdc_input {
        font-size: 14px;
    }

} 
@media (min-width: 400px) {
    .THIS .entireContainer {
        padding: 40px;
    }
    .THIS .headerFont {
        font-size: 28px;
    }
    .THIS .subHeaderFont{
        font-size: 16px;
    }
    .THIS .labels {
        font-size: 16px;
    }
    .THIS .sfdc_buttonOverride {
        padding: 8px 12px !important;
        font-size: 16px !important; 
    }
    .THIS .back {
        font-size: 12px;
    }
    .THIS .sfdc_input {
        font-size: 16px;
    }

} 
@media (min-width: 600px) {
    .THIS .entireContainer {
        padding: 50px;
    }
    .THIS .inputContainer {
        width: 440px
    }
    .THIS .buttonContainer {
        width: 220px
    }
    .THIS .headerFont {
        font-size: 32px;
    }
    .THIS .subHeaderFont{
        font-size: 18px;
    }
    .THIS .labels {
        font-size: 18px;
    }
    .THIS .sfdc_buttonOverride {
        padding: 8px 12px !important;
        font-size: 18px !important; 
    }
    .THIS .back {
        font-size: 16px;
    }
    .THIS .sfdc_input {
        font-size: 18px;
    }

} 
@media (min-width: 800px) {
    .THIS .inputContainer {
        width: 530px
    }
    .THIS .buttonContainer {
        width: 260px
    }
    .THIS .headerFont {
        font-size: 36px;
    }
    .THIS .subHeaderFont{
        font-size: 20px;
    }
    .THIS .labels {
        font-size: 20px;
    }
    .THIS .sfdc_buttonOverride {
        padding: 12px 12px !important;
        font-size: 20px !important; 
    }
    .THIS .back {
        font-size: 18px;
    }
    .THIS .sfdc_input {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        font-size: 20px;
    }
}