.breadcrumb li:first-child::before {
    content: "<";
}

.sf-modal {
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10001;
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .modal {
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 840px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
        height: auto;
        max-height: 94%;
        padding-bottom: 20px;
    }
}

.modal {
    background-color: #fff;
}

.content-header-bar {
    background: rgba(0, 85, 149, 0.8);
    color: white !important;
    padding: 1.5em;
    margin-bottom: 15px;
}

.modal .content-header-bar h2 {
    color: white;
}

.modal .close-btn {
    font-size: 2.5em;
    position: absolute;
    top: 20px;
    right: 27px;
    color: white;
}


.modal .container {
    padding: 0 1.5em;
}