.imageAndCaption {
    /* text-align: center; */
}

.publication-date {
    margin-bottom: 10px !important;
    font-size: small;
}

.page-title.container .container {
    padding: 0;
}

.page-title {
    margin-top: 30px;
}

.button-list {
    margin: 1.2rem 0 0;
    display: flex;
    align-items: flex-end;
}

@media (max-width: 768px) {
    .container.medium.page-title {
        padding: 1.2em;
        margin-top: 0;
    }
}