@media (min-width: 1200px) {
    .arrow-button {
      --sds-c-icon-color-foreground-default: #005595;
      position: relative;
      bottom: 11px;
      right: 2px;
    }
  }
  
  @media (max-width: 1200px) {
    .arrow-button {
      --sds-c-icon-color-foreground-default: #005595;
      position: relative;
      bottom: 5px;
    }
  }
  
  .year-input {
    cursor: pointer;
    line-height: 16px;
    height: 32px;
    font-size: 16px;
    color: #6b6d70;
  
    padding: 0 9.6px !important;
    max-width: 182.8px;
  }
  
  .drop-down-arrow {
    display: block;
    position: relative;
    cursor: pointer;
    right: 22px;
    width: 14px;
    height: 14px;
    background-color: transparent;
    background-image: url(../resource/Grey_Down_Icon);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px 14px;
    overflow: hidden;
    text-indent: -9999px;
    pointer-events: none;
  }
  
  .calendar__week,
  .calendar__header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);  
  }
  .calendar__week {
    grid-auto-rows: 185px;
    text-align: left;
  }
  
  .calendar__header {
    grid-auto-rows: 50px;
    align-items: center;
    text-align: center;
  }
  
  .calendar {
    background-color: #d9e0eb;
    border: 4px solid white;
    grid-area: content;
  }
  
  .calendar__header > div {
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .calendar__day {
    padding: 4px;
    border-right: 4px solid white;
    border-top: 4px solid white;
    min-width: 100%;
  }
  
  .calendar__day:last-child {
    border-right: 0;
  }

  .calendar__day:last-child .popover-container.show{
    display: flex;
    align-items: flex-end;
    flex-flow: column;
  }
  
  .calendar__day:last-child .popover-container .slds-nubbin_top-right:before {
    background: #2f74a7;
  }

  .day-number {
    font-weight: bold;
    font-size: 1.8em;
    line-height: 1.2em;
  }

  .day-number.is-today {
    color: white;
    background: #004486 !important;
    border-radius: 50%;
    display: flex;
    height: 43px !important;
    width: 43px !important;
    align-items: center;
    justify-content: center;
  }
  
  .has-event {
    background-color: #ebeff5;
  }
  
  .listing-day {
    font-size: 1.2em;
    display: block;
    width: 100%;
  }
  
  .force-height {
    max-height: 115px !important;
    overflow: hidden;
  }
  
  .listing-name {
    font-weight: bold;
  }
  
  .popover-container {
    position: static;
    display: none;
  }

  .popover-container.show {
    display: contents;
  }

  
  .listing-popover {
    font-size: 1.2em;
  }
  
  .calendar-mobile-week {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid #e0e0e0;
    column-gap: 0.75rem;
  }
  
  .calendar-mobile-week:last-child {
    border-bottom: 0;
  }
  
  h5 {
    font-size: 1.44em;
  }
  
  a.show-all-events {
    text-align: center;
    display: block;
    font-size: 13px;
    background: transparent;
  }
  
  a.close-x {
    font-size: 2.4em !important; 
    font-weight: bold;
  }
  
  .disabled-button {
    background-color: white !important;
  }
  
  :host {
    --lwc-sizeMedium: 250px;
  }

  @media (max-width: 350px) {
    a.drop-down-arrow {
      margin: 0 0 0 70px;
      bottom: 22px;
    }

    div.slds-grid.slds-page-header div.month {
      margin: 0 7px !important;
    }

    div.slds-grid.slds-page-header div.right-arrow {
      margin: 0 18px 0 0;
    }

    div.slds-grid.slds-page-header div.year-picklist {
      min-width: 70px;
      max-height: 22px;
    }
  }

.slds-popover__body {
  max-height: 195px;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .slds-popover__body {
      max-height: 155px;
  }
}

@media (min-width: 992px) {
  .slds-popover__body {
      max-height: 175px;
  }
}

@media (min-width: 1200px) {
  .slds-popover__body {
      max-height: 185px;
  }
}

@media (min-width: 1400px) {
  .slds-popover__body {
      max-height: 200px;
  }
}