.username-request-container {
    background-color: white;
}

.button-list {
    justify-content: space-between;
}

.content-header-bar {
    height: 98px;
    padding: 21px;
}

.content-header-bar>h1 {
    padding-top: 10px;
}

.input-text>label {
    font-size: 16px;
}

.input-text>input {
    padding: 10px;
    min-height: 32px;
    height: 52px;
}

.slds-notify__close {
    cursor: pointer;
}

@media (min-width: 768px) {
    .button-list button.button {
        width: 49%;
        padding: .7em 2em;
    }
}