.banner {
    background-color: var(--backgroundColor);
}

@media (min-width: 992px) {
    .container.medium {
        width: 100% !important;
        padding: 1em 1.5em;
    }
}

.container.medium {
    max-width: none !important;
}

.contentTitle {
    color: #FFFFFF;
    text-shadow: 1px 1px 0 rgb(15 72 106 / 70%);
    font-size: 4.5em;
    font-family: OktaNeue-UltraLight;
    width: 100%;
}

@media (min-width: 1200px) {
    h1 {
        font-size: 3.3em !important;
    }
}

.align-center {
    justify-content: center;
    text-align: center;
}
.slds-grid {
    display: flex;
    width: 100%;
}